/* COMMON */
body
{
    font-family: Arial, Helvetica, sans-serif;
}
img
{
    width: 100%;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li
{
    display: inline-block;
    padding: 0 5px;
}

a
{
    text-decoration: none;
    color: inherit;
}

.games_list
{
    margin: 3rem 0;
}

/* banner */
.banner_content
{
    color: white;
    display: flex;
    flex-direction: column;
}

.banner_logo_image
{
    width: 300px;
}

.banner_text
{
    padding: 2.5rem 0 2rem;
}

.banner_text>p
{
    padding: 2rem 0 1.3rem;
}

.btn_orange
{
    color: #fff;
    background-color: #cd3d0f;
    border-color: #cd3d0f;
}

/* HEADER */
header
{
    font-family: Arial, Helvetica, sans-serif;
}

/* header top */
.header_top
{
    background-color: black;
    text-align: right;
}

.header_top>img
{
    width: 150px;
    padding: 0.8rem 1.5rem;
}

/* header bottom */
.header_bottom
{
    padding: 1rem 1.5rem;
}

.user_area
{
    text-align: right;
}

.burger
{
    font-size: 2rem;
}

.chevron
{
    width: 10px;
}

.lens
{
    width: 25px;
}

/* MAIN */
/* jumbotron */
.ms_jumbotron
{
    height: 550px;
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
}

.ms_jumbotron .banner_content
{
    height: 550px;
}
/* games_list */
.games_list .col>img
{
    border-radius: 20px;
}

.games_list .col:first-child>img
{
    border: 3px solid blue;
    padding: 2px;
}

/* playstation 5 */
.ps
{
    padding-top: 4rem;
}

.ps>h4
{
    color: #3790d8;
    text-transform: uppercase;
    font-size: 1rem;
}

.ps>h2
{
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
}

.ps>p
{
    color: gray;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

/* accessories */
.accessories .ms_card:not(.ps5)
{
    opacity: 0.5;
}

.accessories .image_card
{
    padding: 4rem;
    padding-bottom: 0.5rem;
}

.accessories .text_card
{
    font-size: 1.3rem;
    text-align: center;
}

.accessories .ms_card
{
    padding-bottom: 4rem;
}

.ms_card.ps5
{
    border-bottom: 2px solid #0d6efd;;
}

/* it takes two banner */
.it_takes_two
{
    height: 650px;
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position: center;
}

.it_takes_two .banner_content
{
    height: 650px;
}

/* new releases */
.new_releases
{
    color: white;
    background-color: #1f1f1f;
    padding: 2rem;
}

.new_releases .text_card
{
    font-size: 1rem;
}

.new_releases h2
{
    font-size: 2rem;
}

.new_releases p
{
    font-size: 1.8rem;
}

.new_releases .image_card>img
{
    border-radius: 20px;
}

/* playstation 4 */
.playstation_4 
{
    padding: 2rem;
}

.playstation_4 .text_card h5
{
    font-size: 1.7rem;
}

.playstation_4 .text_card p
{
    color: gray;
}

/* playstation plus */
.playstation_plus
{
    background-color: #bebcbb;
    padding: 2rem 0;
}

.ps_plus>img
{
    display: block;
}

.playstation_plus .banner_text
{
    color: black;
    padding: 0;
}

.btn_beige
{
    color: #386ce5;
    background-color: #d9dadc;
    border-color: #d9dadc;
}

/* sales */
.new_sales
{
    padding-bottom: 2rem;
}

/* playstation now */
.playstation_now
{
    background-color: #161c3b;
    padding: 2rem 0;
}

.playstation_now .banner_text
{
    padding: 0;
}

/* socials */
.socials
{
    padding: 4rem 0;
    text-align: center;
}

.socials ul
{
    padding-top: 4rem;
}

.socials li>img
{
    width: 100px;
}

/* FOOTER */
footer
{
    background-color: #00439c;
    color: white;
}

@media  screen and (min-width: 576px) 
{
    /* accessories */
    .accessories .image_card>img
    {
        padding: 1rem;
        padding-bottom: 0.5rem;
    }
}

@media  screen and (min-width: 768px) 
{
    /* accessories */
    .accessories .image_card
    {
        padding: 1.5rem;
        padding-bottom: 0.5rem;
    }

    /* banner */
    .playstation_plus,
    .playstation_now
    {
        padding: 0;
    }

    .playstation_plus .banner_logo_image,
    .playstation_now .banner_logo_image
    {
        width: 200px;
    }
}

@media  screen and (min-width: 992px) 
{

    /* jumbotron */
    .banner_text
    {
        width: 30%;
    }

    /* accessories */
    .accessories .image_card
    {
        padding: 2.5rem;
        padding-bottom: 0.5rem;
    }

    /* playstation plus */

    .playstation_plus .banner_text,
    .playstation_now .banner_text
    {
        width: auto;
    }

    .playstation_plus .banner_logo_image
    .playstation_now .banner_logo_image
    {
        width: 300px;
    }

}
