/* COMMON */
body
{
    font-family: Arial, Helvetica, sans-serif;
}
img
{
    width: 100%;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li
{
    display: inline-block;
    padding: 0 5px;
}

a
{
    text-decoration: none;
    color: inherit;
}

/* HEADER */
header
{
    font-family: Arial, Helvetica, sans-serif;
}

/* header top */
.header_top
{
    background-color: black;
    text-align: right;
}

.header_top>img
{
    width: 150px;
    padding: 0.8rem 1.5rem;
}

/* header bottom */
.header_bottom
{
    background-color: lightblue;
    padding: 1rem 1.5rem;
}

.user_area
{
    text-align: right;
}

.burger
{
    font-size: 2rem;
}

.chevron
{
    width: 10px;
}

.lens
{
    width: 25px;
}

/* MAIN */
/* jumbotron */
.ms_jumbotron
{
    height: 550px;
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
}

.jumbotron_content
{
    color: white;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.returnal_image
{
    width: 300px;
}

.jumbo_text
{
    padding: 2.5rem 0 2rem;
}

.jumbo_text>p
{
    padding: 2rem 0 1.3rem;
}

.btn_orange
{
    color: #fff;
    background-color: #cd3d0f;
    border-color: #cd3d0f;
}

@media  screen and (min-width: 992px) 
{

    /* jumbotron */
    .jumbo_text
    {
        width: 30%;
    }
}
